/* main.css */
body{
	font-family: system-ui;
}
.rotating-caret{
	/*width: 2rem;*/
	display: inline-block;
	/*font-weight: bold;*/
	transform: scale(2, 1);
	margin-left: 0.3rem;
	transition: rotate 0.5s;
}
.rotating-caret:hover{
	rotate: 180deg;
}
li:has(.rotating-caret):hover .rotating-caret{
	rotate: 180deg;
}
nav{
	position: relative;
}
nav div ul{
	display: flex;
	column-gap: 3rem;
	place-content: center;
	list-style-type: none;
}
/* main content should be in the center */
main{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}
/* aside should be fixed on the right side */
main aside{
	outline: 1px dashed green;
	width: clamp(0, 195px, 195px);
	overflow: hidden;
}
/* aside should disappear after a certain breakpoint is hit */
