/* main.css */
body{
	font-family: system-ui;
}
.rotating-caret{
	/*width: 2rem;*/
	display: inline-block;
	/*font-weight: bold;*/
	transform: scale(2, 1);
	margin-left: 0.3rem;
	transition: rotate 0.5s;
}
.rotating-caret:hover{
	rotate: 180deg;
}
li:has(.rotating-caret):hover .rotating-caret{
	rotate: 180deg;
}
nav{
	position: relative;
}
nav div ul{
	display: flex;
	column-gap: 3rem;
	place-content: center;
	list-style-type: none;
}
